{% extends "base.html" %}

{% block content %}
    <h1>Hi, Welcome to the Restaurant Chooser</h1>
 
    
    

 
    
  <form method=post>  
  <input type=submit value=Submit>
    <label for="cost_chosen">Choose a cost:</label>
<select id="cost_chosen" name="cost_chosen">
  <option value="Any">Any</option>
    <option value="$">$</option>
  <option value="$$">$$</option>
  <option value="$$$">$$$</option>
</select>

<label for="cuisine_chosen">Choose a style:</label>
<select id="cuisine_chosen" name="cuisine_chosen">
  <option value="Any">Any</option>
    <option value="American">American</option>
  <option value="Asian/Sushi">Asian/Sushi</option>
  <option value="Bar/Pub">Bar/Pub</option>
  <option value="BBQ">BBQ</option>
<option value="Breakfast">Breakfast</option>
<option value="Brews & Spirits">Brews & Spirits</option>
<option value="Cafe/Deli">Cafe/Deli</option>
<option value="Cajun">Cajun</option>
<option value="Coffee/Bakery">Coffee/Bakery</option>
<option value="Hispanic">Hispanic</option>
<option value="Fast Food">Fast Food</option>
<option value="Grocery">Grocery</option>
<option value="Health Concious">Health Concious</option>
<option value="Mediterranean">Mediterranean</option>
<option value="Mexican">Mexican</option>
<option value="Pizza/Italian">Pizza/Italian</option>
<option value="Seafood/Steak">Seafood/Steak</option>
<option value="Sweets">Sweets</option>
<option value="Wine Bar">Wine Bar</option>
</select>

<label for="tag_chosen">Choose a tag:</label>
<select id="tag_chosen" name="tag_chosen">
    <option value="Any">Any</option>
    <option value="Dates">Particularly Good For Dates</option>
    <option value="Eating Alone">Particularly Good For Eating Alone</option>
  <option value="Long Chats">Particularly Good For Long Chats</option>
  <option value="Groups">Particularly Good For Groups</option>


</select>
</form>
    
    <!-- <form method=post>
    <label for="cost_chosen">Choose a cost:</label>
<select id="jonathan" name="jonathan">
  <option value="a">a</option>
    <option value="b">b</option>
  <option value="c">c</option>
</select>
<select id="cole" name="cole">
  <option value="a">a</option>
    <option value="b">b</option>
  <option value="c">c</option>
</select>
<select id="becker" name="becker">
  <option value="a">a</option>
    <option value="b">b</option>
  <option value="c">c</option>
</select>
        <input type=submit value=Submit>
        <br><br>
        <input type=text name=cost_chosen value="$/$$/$$$/Any">  &nbsp;&nbsp; 
        <br>
        <input type=text name=cuisine_chosen value="Which Style?">  &nbsp;&nbsp; 
        <br>
        <input type=text name=tag_chosen value="Which tag?">  &nbsp;&nbsp; 
    </form>
{% endblock %}
 -->
